<nav>
  <a href="/">Home</a>
  <form method="post" action="/contact/search" class="search-form">
    <input name="query" type="search" placeholder="search" value="<%= query %>" autofocus/>
    <input type="submit" style="display: none" />
  </form>
  <a href="/contacts/new">New Contact</a>
</nav>
